<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>Metrics list</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Value</th>
        </tr>
        {{ range $mName, $mVal := . }}
            <tr>
                <td>{{ $mName }}</td>
                <td>{{ $mVal.MType }}</td>
                {{if eq $mVal.MType "gauge"}}
                    <td>{{ $mVal.Value }}</td>
                {{else if eq $mVal.MType "counter"}}
                    <td>{{ $mVal.Delta }}</td>
                {{end}}
            </tr>
        {{ end }}
    </table>
</body>
</html>